#survey {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 20px;
  height: 600px;
  position: fixed;
  width: 350px;
  font-family: san-serif;
}

.chatheader {
  background:#333;
  border-bottom-color: #1a6b96;
  border-bottom-width: 3px;
  border-style: solid;

}

.close {
  color: white;
  text-align: right;
  vertical-align: middle;
}

.logo {
  text-align: left;
  width: 300px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
}


.helpText{
  font-size: 25px;
  font-weight: bold;
}

.body{
  margin: 30px;
}

.input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.helper{
  margin-bottom: -10px;
  padding-top: 20px;
}

.submit{
  background-color: #1a6b96;
  border: none;
  border-radius: 5px;
  color: #ccc;
  padding: 10px 35px;
  text-align: center;
  margin-top: 10px;
}

.req{
  text-align: right;
}

.dropdown{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.select{
  border: none;
  width: 100%;
  background-color: white;

}

.tableHeader{
  width: 80%;
}

.textArea {
  padding: 0px;
  height: 60px;
}


.footer{
  background-color: #ccc;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  overflow:hidden;
  padding-top:10px;
  padding-bottom:10px;
}

.invalidphonehelper {
  color:red;
}

.invalidphoneinput {
  border: 1px solid red;
  background-color: #ff00004a;
  color: red;
}